apiVersion: v1
kind: Service
metadata:
  name: svc-tech-challenge-db
  labels:
    app: svc-tech-challenge-db
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: tech-challenge-db-deployment
